/* Partners */
#app {

}
.test-row {
  margin-left: auto;
margin-right: auto;
}
#partners {
  background-color: #f5f5f5;
  /*height: auto;*/
  padding-bottom: 50px;
  padding-top: 15px;
  /*color: orange;*/

}
#partners-pics {
  height: 220px;
  /*width: 280px;
  margin: 10px;*/
  background-color: #fff !important;
    opacity: 0.6;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray; -webkit-transition: all .6s ease;


}
#partners-pics:hover,
#partners-pics:focus {
  opacity: 1;
  filter: grayscale(0); -webkit-filter: grayscale(0);
  filter: gray; -webkit-transition: all .6s ease;
  cursor: pointer;
}
/*#partners-pics:focus{
  border: 2px solid green;
  border-style: groove;
}*/



 @media screen and (min-width: 981px) {
   html {
     font-size: 62.5%;
   }
 }
 @media screen and (min-width: 641px) and (max-width: 980px) {
   html {
     font-size: 9px;
   }
 }
 @media screen and (max-width: 640px) {
   html {
     font-size: 9px;
   }
 }
 body {
   background-color: #eee;
   font-family: "Roboto", sans-serif;
 }
 .container {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 2rem;
   padding-left: 1rem;
   padding-right: 1rem;
 }
 a {
   color: inherit;
 }
 p {
   line-height: 1.8;
   margin-bottom: 2rem;
 }
 p:last-child {
   margin-bottom: 0;
 }
 .footer {
   font-size: 1.6rem;
   padding: 2rem;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
 }
 @media screen and (max-width: 480px) {
   .footer__item {
     margin-bottom: 2rem;
   }
 }
 .melnik909 {
   margin-left: 2rem;
 }
 /*
  * Core for cards
  */
 .cards {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   font-family: "Roboto", sans-serif;
 }
 .card {
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
   margin-bottom: 2rem;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
 }
 .card_main {
   width: 100%;
 }
 @media screen and (min-width: 801px) {
   .card_main .card__title {
     font-size: 180%;
   }
   .card_main .card__main-action {
     width: 2.58em;
     height: 2.38em;
     border-radius: 3px;
   }
 }
 .card_size-2xl {
   width: 66%;
 }
 @media screen and (min-width: 801px) {
   .card_size-2xl .card__title {
     font-size: 170%;
   }
 }
 .card_size-xl {
   width: 49%;
 }
 @media screen and (min-width: 801px) {
   .card_size-xl .card__title {
     font-size: 160%;
   }
 }
 .card_size-m {
   width: 32%;
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
   .card_size-m,
   .card_size-2xl {
     width: 49%;
   }
 }
 @media screen and (max-width: 480px) {
   .card_size-m,
   .card_size-xl,
   .card_size-2xl {
     width: 100%;
   }
 }
 .card__header {
   position: relative;
   line-height: 0;
 }
 *::-ms-backdrop,
 .card__header {
   display: -ms-flexbox;
   display: flex;
 }
 .card__preview {
   max-width: 100%;
   height: auto;
 }
 *::-ms-backdrop,
 .card__preview {
   -ms-flex: 0 0 auto;
       flex: 0 0 auto;
 }
 .card__main-action {
   font-size: 100%;
   text-decoration: none;
   text-indent: -9999px;
   cursor: pointer;
   border: none;

   /*border-radius: 50%;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
   position: absolute;
   right: 5px;
   bottom: 0;
   padding: 0;
   /* -webkit-transform: translateY(-13%); */
   /* transform: translateY(0%); */
   width: 4em;
   height: 4em;
   top: 5px;
 }
 .card__main-action:before {
   content: "";
   display: block;
   width: 60%;
   height: 60%;
   box-sizing: border-box;
   background-position: 50% 50%;
   /*background-repeat: no-repeat;
   background-size: contain;*/
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
 }
 .card__main-action:focus {
   outline: none;
 }
 .card__body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -ms-flex-pack: distribute;
       justify-content: space-around;
   -webkit-box-flex: 2;
       -ms-flex-positive: 2;
           flex-grow: 2;
 }
 .card__title {
   font-size: 140%;
   font-weight: 400;
   line-height: 1.5;
   margin-top: 0;
   margin-bottom: .8em;
 }
 .card__showmore {
   text-decoration: none;
 }
 .card__content {
   padding: 2.5em 4% 1.5em;
   -webkit-box-flex: 2;
       -ms-flex-positive: 2;
           flex-grow: 2;
 }
 .card__footer {
   padding: 1.5em 4%;
   border-top-width: 1px;
   border-top-style: solid;
   font-size: 90%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
 }
 .card__meta-item {
   display: inline-block;
   vertical-align: middle;
   margin-left: .8em;
 }
 .card__meta-icon {
   display: inline-block;
   vertical-align: middle;
   text-align: right;
   width: 1.5em;
   height: 1.5em;
   margin-right: .2em;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: contain;
 }
 /*
  * Skin for cards
  */
 .card {
   background-color: #fff;
   color: #212121;
   font-size: 1.4rem;
 }
 @media screen and (min-width: 801px) {
   .card_main,
   .card_size-2xl,
   .card_size-xl {
     font-size: 1.6rem;
   }
 }
 .card__main-action {
   background-color: transparent;

 }
 .card__main-action:before {
   background-image: url("../img/close.svg");
 }
 .card__main-action:hover,
 .card__main-action:focus {
   background-color: rgba(158,158,158,0.2);
 }
 .card__footer {
   border-top-color: #BDBDBD;
 }
 .card__showmore {
   color: #303F9F;
   -webkit-transition: color 0.3s ease-out;
   transition: color 0.3s ease-out;
 }
 .card__showmore:hover,
 .card__showmore:focus {
   color: #3F51B5;
 }
 .card__meta-comments {
   background-image: url("https://stas-melnikov.ru/cssgrid/comment.svg");
 }
 .card__meta-likes {
   background-image: url("https://stas-melnikov.ru/cssgrid/favorite.svg");
 }
